
body {
    background-color: #03570f;
    color: rgb(246, 255, 0);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #003ffc;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 90%;
}


